<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load static %}
	<head>
		<meta charset="utf-8" />
  		<meta name="description" content="Art and Technology">
		<meta name="keywords" content="Art, Visual Art, Software">
		<meta name="author" content="Howard Winston">
  		<title>Art - Howard Winston</title>
  		
  		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		
    	<link href="{% static 'css/stylesheet.css' %}" media="screen" rel="stylesheet" type="text/css" />
    	<script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    	<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    	<script type="text/javascript" src="{% static 'js/document_ready.js' %}"></script>
    	
	</head>
	<body>
		{% block base_content %}
		{% endblock %}
	</body>
</html>