{% extends "base.html" %}
{% block base_content %}
<div id="page">
	{% include "header.html" %}
	<div id="main-container">
		<div class="left-container-outer">
			<div class="left-container-inner">
				{% include "navagation_menu.html" %}
			</div>
		</div>
		<div class="right-container-outer">
			<div class="right-container-inner">
				<h1><span id="flatpage-title">{{flatpage.title}}</span></h1>
					<div id="flatpage-content">
						{{ flatpage.content }}
					</div>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
</div>
{% endblock %}