{% extends "photologue/root.html" %}

{% load photologue_tags %}
{% load photo_gallery_nav %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

{% if object.public_galleries %}
	{% for gallery in object.public_galleries %}
	
		<h1>{{ object.title }}</h1>
		<div class="gallery-photo">
    			<a href="{{ object.image.url }}"><img src="{{ object.get_display_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ object.title }}"/></a>    			
		</div>
		<div class="image-caption">
			{% if object.caption %}<div class="image-text">{{ object.caption }}</div>{% endif %}
		</div>
			
		<div class="image-navagation-row">
			<span class="forward-in-gallery">
				{% forward_in_gallery object gallery %}
			</span>
			<span class="gallery-return">
				<a href="/art-images/{{ gallery.title_slug }}/">Return to {{ gallery.title }}</a>
			</span>			
			<span class="backward-in-gallery">
				{% backward_in_gallery object gallery %}
			</span>			
		</div>
								
 	{% endfor %}
{% endif %}


{% endblock %}
