{% extends "photologue/root.html" %}

{% load photologue_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

{% if object.public_galleries %}
	{% for gallery in object.public_galleries %}
	
		<h1>{{ object.title }}</h1>
		<div class="gallery-photo">
    			<a href="{{ object.image.url }}"><img src="{{ object.get_display_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ object.title }}"/></a>    			
		</div>
		<div class="image-caption">
			{% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
		</div>
			
		<div class="image-navagation-row">				    
			<span class="forward-in-gallery">
			  	{% next_in_gallery object gallery %}
			  	<p>newer images</p> 
			 </span>			
			<span class="backward-in-gallery">
				{% previous_in_gallery object gallery %}
				<p>older images</p>
			</span>			
		</div>
		
		<span class="gallery-return">
			<a href="/art-images/{{ gallery.title_slug }}/">Return to {{ gallery.title }}</a>
		</span>
				
 	{% endfor %}
{% endif %}


{% endblock %}
